.form {
  margin-top: 100px;
  position: relative;
}
.form-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-button {
  position:absolute;
  right: 0px;
  width: 200px;
  height: 60px;
  color: white;
  background-color: #2451B2;
  margin-top: 50px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 24px;
}
